.headerClass {
    background-color: blue;
    grid-area: header;
}

.logo {
    height: 100%;
    margin-left: 0;
}

.loginBlock {
    float: right;
    margin-right: 15px;
    margin-top: 10px;
}

.loginBlock a {
    color: lightblue;
    text-decoration: none;
}
.preloader{
    height: 40px;
    width: 40px;
}
.profileLogo{
    height: 40px;
    width: 40px;
}

