.headerClass {
    background-color: blue;
    grid-area: header;
}

.logo {
    height: 100%;
    margin-left: 0;
}

.loginBlock {
    display: grid;
    grid-template-areas: "login photo";
    grid-gap: 10px;
    float: right;
    margin-right: 15px;
    margin-top: 10px;
}
.logInOut{
    grid-area: login;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photoBlock{
    grid-area: photo;
}
.loginBlock a {
    color: lightblue;
    text-decoration: none;
}
.preloader{
    height: 40px;
    width: 40px;
}
.profileLogo{
    height: 40px;
    width: 40px;
}

