.imageContainer {
    margin-right: 20px;
}

.pageMainImage {
    width: 100%;
}

.profileContainer {
    display: grid;
    grid-template-areas:
    "profileLogo profileInfo"
    "changeInfo changeInfo";
    grid-template-columns: 2fr 10fr;
    background-color: white;
    grid-gap: 10px;
    margin-right: 20px;
    margin-top: 15px;
}

.profileLogo {
    grid-area: profileLogo;
    width: 90%;
    padding: 10px;
    background-color: white;
}

.profileInfo {
    grid-area: profileInfo;
    width: 100%;
    text-align: left;
    padding: 5px;
    display: grid;
    grid-template-areas:
    "name name editBtn"
    "status status status"
    "props values values"
    "contacts contacts contacts";
    grid-template-columns: 80px 1fr 40px;
    grid-gap: 5px;
    background-color: white;
}

.name {
    grid-area: name;
    width: 100%;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
}

.editButtonWrapper {
    grid-area: editBtn;
}

.editButtonWrapper button {
    cursor: pointer;
    color: gray;
    background-color: white;
    border: white 0 solid;
}

.status {
    grid-area: status;
    margin-left: 15px;
    padding: 0 0 5px 5px;
    border-bottom: lightblue 1px solid;
}

.statusText {
    width: 100%;
    margin: 5px 10px 0 0;
    padding: 0 0 0 0;
    border: lightblue 0 solid;
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.statusBox {
    width: 100%;
    margin: 5px 10px 0 0;
    padding: 0 0 0 0;
    border: lightblue 0 solid;
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.status input::-webkit-input-placeholder {
    font-size: 12px;
}

.infoItem {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    padding: 5px;
    margin-bottom: 5px;
}

.props {
    grid-area: props;
    margin-left: 15px;
}

.values {
    grid-area: values;
}

.contacts {
    margin-left: 15px;
    grid-area: contacts;
    padding: 5px;
}

.contactsImage {
    height: 40px;
    width: 40px;
    margin-right: 20px;
    border-radius: 40px;
}


.changeInfoMainWrapper {
    grid-area: changeInfo;
    width: 100%;
}

.editFormWrapper {
    border-top: lightblue 1px solid;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    display: grid;
    grid-template-areas: "forms exitButton";
    grid-template-columns: 9fr 1fr;
    grid-template-rows: 1fr;
}

.exitButtonWrapper {
    grid-area: exitButton;
    text-align: right;
}

.exitButtonWrapper button {
    cursor: pointer;
    color: gray;
    background-color: white;
    border: white 0 solid;
}

.formsWrapper {
    width: 100%;
    grid-area: forms;
    padding: 0;
    text-align: left;
}

.formsWrapper .wrapper {
    display: grid;
    grid-template-areas: "labels forms"
    "submitBtn submitBtn";
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    grid-template-rows: max-content;
    grid-row: auto;
    padding: 5px;
}

.labels {
    grid-area: labels;
    text-align: right;
}

.forms {
    grid-area: forms;
    text-align: left;
}
.formsCheckBox{
    grid-area: forms;
    text-align: left;
}

.forms input{
    width: 70%;
}
.forms textarea {
    width: 70%;
}

.submitButtonWrapper {
    grid-area: submitBtn;
    text-align: center;
    margin-bottom: 5px;
}

.submitButtonWrapper button {
    width: 150px;
}

.photoUploadWrapper{
    text-align: center;
}
.photoUploadWrapper input{
    margin-bottom: 10px;
}
.errorWrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

.error {
    position: absolute;
    color: firebrick;
    font-size: 12px;
    margin-bottom: 10px;
}
