.app-wrapper {
    margin: 0 auto;
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    display: grid;
    grid-template-areas:
    "header header"
    "sideBar content"
    "footer footer";
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    background-color: aliceblue;
    min-height: 101vh;
}
.content{
    grid-area: content;
}
.preloader-wrapper{
    width: 100vw;
    height: 101vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.preloader{
    height: 50%;
    width: 50%;
}



