.imageContainer {
    margin-right: 20px;
}

.pageMainImage {
    width: 100%;
}

.profileContainer {
    display: grid;
    grid-template-areas:
    "profileLogo profileInfo";
    grid-template-columns: 2fr 10fr;
    background-color: white;
    grid-gap: 10px;
    margin-right: 20px;
    margin-top: 15px;
}

.profileLogo {
    grid-area: profileLogo;
    width: 90%;
    padding: 10px;
    /*
    background-color: aquamarine;
    */
}

.profileInfo {
    grid-area: profileInfo;
    /*
    background-color: blue;
    */
    text-align: left;
    padding: 5px;
    display: grid;
    grid-template-areas:
    "name name"
    "status status"
    "props values"
    "contacts contacts";
    grid-template-columns: 80px 1fr;
    grid-gap: 5px;
    background-color: white;
}

.name {
    grid-area: name;
    margin-left: 15px;
    padding-left: 5px;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
}

.status {
    grid-area: status;
    margin-left: 15px;
    padding: 0 0 5px 5px;
    border-bottom: lightblue 1px solid;
}
.statusText {
    width: 100%;
    margin: 5px 10px 0 0;
    padding: 0 0 0 0;
    border: lightblue 0 solid;
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.statusBox {
    width: 100%;
    margin: 5px 10px 0 0;
    padding: 0 0 0 0;
    border: lightblue 0 solid;
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.status input::-webkit-input-placeholder {
    font-size: 12px;
}

.infoItem {
    padding: 5px;
    margin-bottom: 5px;
}

.props {
    grid-area: props;
    margin-left: 15px;
}

.values {
    grid-area: values;
}

.contacts {
    margin-left: 15px;
    grid-area: contacts;
    padding: 5px;
}

.contactsImage {
    height: 40px;
    width: 40px;
    margin-right: 20px;
    border-radius: 40px;
}